<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img src="assets/Fortnite_PartyRoyaleLogo.gif" />
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.position }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="played">
    <th mat-header-cell *matHeaderCellDef>Played</th>
    <td mat-cell *matCellDef="let element">{{ element.played }}</td>
  </ng-container>

  <ng-container matColumnDef="kills">
    <th mat-header-cell *matHeaderCellDef>Kills</th>
    <td mat-cell *matCellDef="let element">{{ element.kills }}</td>
  </ng-container>

  <ng-container matColumnDef="killsratio">
    <th mat-header-cell *matHeaderCellDef>Kills Per Game</th>
    <td mat-cell *matCellDef="let element">
      {{ element.killsratio | number: '1.2-2' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
